{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 style="color: rgb(48, 45, 45); font-size: 40px;">Login</h2>

        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        
           
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </div>
        
        {% endif %}
        

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
           

            <p>Don't have account <a href="/register/">Register</a></p>

            <button type="submit" class="btn btn-primary">Submit</button>
          

        <!-- <button type="submit" class="btn btn-success " >Add Summary</button> -->
      </form>

</div>

{%endblock%}





